:root {
    --bg-color: rgba(48, 94, 191, 0.7);
    --bg-color-2:  rgba(75, 142, 196, 0.7);
    --main-text-color: rgba(252, 252, 252, 0.692);
    --secondary-text-color: rgba();
}


body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0 10px 0 10px;
}

header {
    text-align: center;
    background-color: var(--bg-color);
    margin: 0 -10px;
    padding: 30px 0;
}

nav {
    display: flex;
    margin: 0 -10px;
    background-color: var(--bg-color);
    flex-direction: row;
    justify-content: flex-end;
}

nav a {
    background-color: var(--bg-color-2);
    padding: 20px 15px;
    margin: 0 2px;
}

.hero-image {
    background-image: url(../images/hero-3.png);
    height: 300px;
    filter: contrast(1);
    background-position: center;
    background-size: cover;
    margin: 0 -10px;
}
.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-text h1{
    position: relative;
    flex: 1 1;
    font-size: 60px;
    color: var(--main-text-color);
    margin: 10px;
    text-align: center;
}

.hero-text p {
    position: relative;
    flex: 1 1;
    font-size: 30px;
    color: var(--main-text-color);
    text-align: center;
    margin: 10px;
}

main {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.left {
    width: 25%;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
}

.maincard {
    width: 80%;
    height: 400px;
    margin: 15px 20px;
    background-color: var(--bg-color);
}

.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    width: 400px;
    height: 200px;
    margin: 10px 15px;
    background-color: var(--bg-color);
}





















footer {
    display: flex;
    flex-direction: row;
}

footer p {
    margin: 0 10px;
}



/* 


main {
    display: flex;
    flex-wrap: wrap;
}

main article {
    flex: 1;
    padding: 80px;
    text-align: left;
    border-right: solid;
    border-width: 5px;
}

.projects {
    flex: 4;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.projects article {
    flex: 0 0 300px;
    border-style: solid;
    border-width: 2px;
    margin: 100px 0 20px 0;
}

footer {
    background-color: var(--bg-color);
}

.external_link_nav {

}

footer h2 {
    text-align: center;
    font-size: 40px;
}

.external_link_nav ul {
    text-align: center;
}

.external_link_nav ul li {
    list-style-type: none;
    font-size: 20px;
    display: inline;
}  */